<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MifareOneTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MifareOneTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MifareOneTool.Properties.Settings>
            <setting name="GitHubR" serializeAs="String">
                <value>PCR</value>
            </setting>
        </MifareOneTool.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MifareOneTool.Properties.Settings>
            <setting name="AutoABN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WriteCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLoadUidKey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainCLIColor" serializeAs="String">
                <value>Desktop</value>
            </setting>
            <setting name="MainCLIFontSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="DefIsAdv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HardLowCost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastTryKey" serializeAs="String">
                <value>ffffffffffff</value>
            </setting>
            <setting name="NewScan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultiMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CuidKeyOver" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>chinese</value>
            </setting>
            <setting name="pcrname" serializeAs="String">
                <value />
            </setting>
            <setting name="pcrpassword" serializeAs="String">
                <value />
            </setting>
            <setting name="autologin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updatenew" serializeAs="String">
                <value>000</value>
            </setting>
            <setting name="keynew" serializeAs="String">
                <value>000</value>
            </setting>
            <setting name="PCR_RUNMODE" serializeAs="String">
                <value>radical</value>
            </setting>
            <setting name="pcrclasslevel" serializeAs="String">
                <value>normal</value>
            </setting>
            <setting name="pcrqinlin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hard_kown_key" serializeAs="String">
                <value>ffffffffffff</value>
            </setting>
            <setting name="hard_kown_sec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hard_kown_dumpab" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="hard_unkown_sec" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="hard_unkown_dumpab" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="X64_mode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="unuse_historykye" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="writecard_nohint" serializeAs="String">
                <value>False</value>
            </setting>
        </MifareOneTool.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
